<div class="uk-section uk-section-default">
  <div class="container">
    <div class="row justify-content-center">
      <div class="uk-card uk-card-hover uk-card-body p-3">
        <%= render 'devise/registrations/form' %>
      </div>
    </div>
    <div class="row justify-content-center text-small mt-3">KedaiCoding 2018 &copy; All Right's Reserved</div>
  </div>
</div>