<div class="col-md-6 my-3">
      <div class="card card-body">
        <h5 class="">PHP</h5>
        <div class="row">
          <div class="col">
            <%= image_tag 'icon/_0028_PHP.jpg', class:'avatar rounded img-thumbnail' %>
          </div>
          <div class="col">
            <h6><b>Deskripsi :</b></h6>
            <h6 class="my-2">Menguasai bla bla bal dan ini itu</h6>
            <div class="progress my-5">
              <div id="php progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
            </div>
          </div>
        </div>
      </div>
    </div>