@import "bootstrap";
@import "font-awesome";
@import "summernote-bs4";
@import "summernote-custom-theme.min";

// @import "uikit/variables-theme.scss";
// @import "uikit/mixins-theme.scss";
// @import "uikit/uikit-theme.scss";

@import "chosen";

@import url('https://fonts.googleapis.com/css?family=Signika+Negative');
@import url('https://fonts.googleapis.com/css?family=Yantramanav');


$purple-color: #aa60a3 !important;
$green-color: #4BB990 !important;
$green-smooth-color: #effcf7 !important;
$purple-smooth-color: #ffe5fc !important;
$background-white-color: #f1f1f2 !important;
$dark-color: #333 !important;
$gold-color: #ffd700 !important;

// GLOBAL SETTINGS
body{
  background-color: $background-white-color;
}
a{
  outline: 0;
}
.lh-1{
  line-height: 1;
}
.hidden{
  display: none;
}
.flex-grow-small{
  flex-grow: 0.23;
}
.bg-light-purple{
  background-color: $purple-smooth-color;
}
.bg-green{
  background-color: #5ce8b4;
}
.hover-green:hover{
  background-color: $green-smooth-color;
  color: $dark-color;
  border-left: 6px solid $green-color;
}
.font-16{
  font-size: 16px !important;
}
.gold-color{
  color: $gold-color;
}
.logo-w-100{
  width: 30px;
}
.dropdown-toggle::after {
  display:none;
}
.card-w-100{
  width: 18rem;
}
.no-border-radius{
  border-radius: 0;
  border: none;
}
.avatar{
  top: -50px;
  margin-bottom: -30px;
  position: relative;
}
.img-profile-sm{
  width:90px;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: rgba($color: #fff, $alpha: 0.5);
}

  abbr[title="required"] {
    display: none;
  }

.badge-php{
  background-color: purple !important;
  color: #fff !important;
}
.badge-javascript{
  background-color: darkblue !important;
  color: #fff !important;
}
.badge-ruby{
  background-color: darkred !important;
  color: #fff !important;
}
.badge:hover{
  text-decoration: none;
}
.search-icon-container{
  cursor: pointer;
  display: block;
  position: absolute;
  right: 3px;
}
.icon-search{
  background-color: transparent;
  color: #333;
  height: auto;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  z-index: 999;
}
.border-radius-rounded{
  border-radius: 21px !important;
}
.transparent{
  background-color: transparent;
}
.nav-pills-shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: transparent;
  color: $purple-color;
}
.border-slider{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  background-color:$purple-color;
  position:absolute;
  z-index:1200;
  top: 70px;
  transition:all .2s linear;
}
.btn-outline-white{
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.2s;
}
.btn-outline-white:hover {
  background-color: $purple-color;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 2px 6px 0 rgba(0,0,0,0.12), 0 4px 2px -3px rgba(0,0,0,0.2);
}
.btn-outline-white:active {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transform: translateY(2px);
}
.btn-outline-white:after {
  background-color: $purple-color;
}