<div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>

    <% @tags.each do |tag| %>
    <div>
        <a class="uk-card uk-card-default" >
            <div class="uk-card-media-top">
                <%= image_tag 'category_icon/angular.png', alt:'Category Image 1' %>
            </div>
            <div class="uk-card-body"><%= link_to tag.name , tag_path(tag.name) %></div>
        </a>
     </div>
    <% end %>
</div>