<div class="card no-border-radius transparent">
  <div class="card-body m-1 p-2">
    <form>
      <div class="input-group">
        <input name="search-query" type="text" class="form-control border-radius-rounded" placeholder="search solution">
        <span class="search-icon-container">
          <button class="icon-search btn" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="card no-border-radius">
  <div class="card-body">
    <h6 class="font-weight-bold">Things you may interest</h6>
    <hr class="m-1">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="py-0 nav-link small" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="py-0 nav-link small" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="py-0 nav-link small" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="py-0 nav-link small" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</div>
