<div class="hide uk-position-large uk-position-top-right uk-flex uk-flex-middle">
<div class="uk-card uk-card-hover uk-card-body">
  <a class="btn btn-outline-primary">Ask a Question</a>
  <ul class="nav flex-column">
    <li class="nav-item">
      <p class="nav-link border-bottom" href="#">Help</p>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <p class="nav-link border-bottom" href="#">Sugested Topics</p>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</div>
</div>