<!-- LOOPING FROM HERE -->
  <div class="border-bottom mt-2 py-2">
    <div class="row">
      <div class="col-sm-4 align-self-center">
        <div class="row">
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small border-right">
            <p class="m-0 p-0 lh-1">10</p>
            <small>votes</small>
          </div>
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small">
            <p class="m-0 p-0 lh-1">100</p>
            <small>answers</small>
          </div>
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small border-left">
            <p class="m-0 p-0 lh-1">1000</p>
            <small>views</small>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <a href="#" class="d-inline" data-toggle="tooltip" data-placement="top" data-delay="500" title="Tooltip on top" >
          <h6 class="text-truncate m-0">Thread Tittle Here, and how Popular is it???????</h6>
        </a>
        <div class="my-2">
          <!-- MAXIMUM TAG SHOWN IS 3 -->
          <a href="#" class="badge badge-php">php</a>
          <a href="#" class="badge badge-javascript">javacript</a>
          <a href="#" class="badge badge-ruby">ruby</a>
          <small class="text-disabled pull-right my-auto">Asked 10 min ago <a href="#">someone who ask</a></small>
        </div>
      </div>
    </div>
  </div>
<!-- END OF LOOPS -->

<!-- LOOPING FROM HERE -->
  <div class="border-bottom mt-2 py-2">
    <div class="row">
      <div class="col-sm-4 align-self-center">
        <div class="row">
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small border-right">
            <p class="m-0 p-0 lh-1">10</p>
            <small>votes</small>
          </div>
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small">
            <p class="m-0 p-0 lh-1">10</p>
            <small>answers</small>
          </div>
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small border-left">
            <p class="m-0 p-0 lh-1">10</p>
            <small>views</small>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <a href="#" class="d-inline" data-toggle="tooltip" data-placement="top" data-delay="500" title="Tooltip on top" >
          <h6 class="text-truncate m-0">Thread Tittle Here, and how Popular is it??</h6>
        </a>
        <div class="my-2">
          <!-- MAXIMUM TAG SHOWN IS 3 -->
          <a href="#" class="badge badge-php">php</a>
          <a href="#" class="badge badge-javascript">javacript</a>
          <a href="#" class="badge badge-ruby">ruby</a>
          <small class="text-disabled pull-right my-auto">Asked 10 min ago <a href="#">someone who ask</a></small>
        </div>
      </div>
    </div>
  </div>
<!-- END OF LOOPS -->

<!-- LOOPING FROM HERE -->
  <div class="border-bottom mt-2 py-2">
    <div class="row">
      <div class="col-sm-4 align-self-center">
        <div class="row">
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small border-right">
            <p class="m-0 p-0 lh-1">10</p>
            <small>votes</small>
          </div>
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small">
            <p class="m-0 p-0 lh-1">10</p>
            <small>answers</small>
          </div>
          <div class="col-sm-4 text-center m-0 p-0 flex-grow-small border-left">
            <p class="m-0 p-0 lh-1">10</p>
            <small>views</small>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <a href="#" class="d-inline" data-toggle="tooltip" data-placement="top" data-delay="500" title="Tooltip on top" >
          <h6 class="text-truncate m-0">Thread Tittle Here, and how Popular is it??</h6>
        </a>
        <div class="my-2">
          <!-- MAXIMUM TAG SHOWN IS 3 -->
          <a href="#" class="badge badge-php">php</a>
          <a href="#" class="badge badge-javascript">javacript</a>
          <a href="#" class="badge badge-ruby">ruby</a>
          <small class="text-disabled pull-right my-auto">Asked 10 min ago <a href="#">someone who ask</a></small>
        </div>
      </div>
    </div>
  </div>
<!-- END OF LOOPS -->